fastapi==0.116.1
pydantic==2.11.7
cryptography==46.0.3
httpx==0.28.1
uvicorn==0.35.0
SQLAlchemy==2.0.43
psycopg[binary]==3.2.10
eth-account==0.13.7
eth-abi==5.2.0
eth-utils==5.3.1
pytest==8.4.2
ruff==0.13.2
